<div class="page-header">
	<h1>Atividade</h1>
<div>

<div ng-show="mensagem.sucesso" class="alert alert-success">
	<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
</div>

<div ng-show="mensagem.sucesso == false" class="alert alert-danger">
	<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
</div>

<form ng-submit="salva()">
	<div class="form-group">
		<label for="descricao">Descrição</label>
        <textarea class="form-control" id="descricao" name="descricao" required ng-model="atividade.descricao"></textarea>
	</div>
	<div class="form-group">
		<label for="valor">Valor (nota)</label>
		<input type="number" min="0" max="10" step="0.01" class="form-control" id="valor" name="valor" ng-model="atividade.valor" required/>
	</div>
	<div class="form-group">
		<label for="deadline">Deadline</label>
		<input type="datetime-local" class="form-control" id="deadline" name="deadline" ng-model="atividade.deadline" required/>
	</div>
	<div class="form-group">
		<label for="disciplina">Disciplina</label>
		<input type="text" class="form-control" id="disciplina" name="disciplina" required ng-model="atividade.disciplina"/>
	</div>
	<div class="form-group">
		<label>Linguagem</label>
		<br/>
		<label class="radio-inline">
			<input type="radio" name="linguagem" value="Java" ng-model="atividade.linguagem">Java
		</label>
		<label class="radio-inline">
			<input type="radio" name="linguagem" value="Python" ng-click="atividade.tipoTeste = 'entrada_saida'" ng-model="atividade.linguagem">Python (>=3.4)
		</label>
	</div>
	<div class="form-group">
		<label>Tipo de teste</label>
		<br/>
		<label class="radio-inline">
			<input type="radio" name="tipo_teste" value="JUnit" ng-click="atividade.linguagem = 'Java'" ng-model="atividade.tipoTeste">JUnit
		</label>
		<label class="radio-inline">
			<input type="radio" name="tipo_teste" value="entrada_saida" ng-model="atividade.tipoTeste">Verificação de entrada e saída
		</label>
	</div>
    <div class="form-group" ng-show="atividade.tipoTeste == 'JUnit'">
        <label>Classe de teste JUnit</label>
        <br/>
        <div ng-model="classeJUnit" name="classe_junit" ngf-pattern="'.java'" ngf-accept="'.java'" ngf-select>
            <a href="" class="btn" id="botao_classe_junit" role="button">Clique aqui para selecionar a classe JUnit</a>
        </div>
        <span><b>{{classeJUnit.name}}</b></span>
		<input hidden ng-model="atividade.nomeClasseTesteJUnit" />
    </div>
	<div class="form-group" ng-show="atividade.tipoTeste == 'entrada_saida'">
        <label>Arquivo de entrada</label>
        <br/>
        <div ng-model="arquivoEntrada" name="arquivo_entrada" ngf-pattern="'.txt'" ngf-accept="'.txt'" ngf-select>
            <a href="" class="btn" id="botao_arquivo_entrada" role="button">Clique aqui para selecionar o arquivo de entrada</a>
        </div>
        <span><b>{{arquivoEntrada.name}}</b></span>
		<input hidden ng-model="atividade.nomeArquivoEntrada" />
    </div>
	<div class="form-group" ng-show="atividade.tipoTeste == 'entrada_saida'">
        <label>Arquivo de saída</label>
        <br/>
        <div ng-model="arquivoSaida" name="arquivo_saida" ngf-pattern="'.txt'" ngf-accept="'.txt'" ngf-select>
            <a href="" class="btn" id="botao_arquivo_saida" role="button">Clique aqui para selecionar o arquivo de saída</a>
        </div>
        <span><b>{{arquivoSaida.name}}</b></span>
		<input hidden ng-model="atividade.nomeArquivoSaida" />
    </div>
	<div>
		<button type="submit" class="btn btn-primary">Salvar</button>
		<a	href="#!/" class="btn btn-default">Voltar</a>
	</div>
</form>