<div class="page-header">
	<h1>Atividade</h1>
<div>

<div ng-show="mensagem.sucesso" class="alert alert-success">
	<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
</div>

<div ng-show="mensagem.sucesso == false" class="alert alert-danger">
	<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
</div>

<form ng-submit="salva()">
	<div class="form-group">
		<label for="descricao">Descrição</label>
        <textarea class="form-control" id="descricao" name="descricao" required ng-model="atividade.descricao"></textarea>
	</div>
	<div class="form-group">
		<label for="valor">Valor (nota)</label>
		<input type="number" min="0" max="10" step="0.01" class="form-control" id="valor" name="valor" ng-model="atividade.valor" required/>
	</div>
	<div class="form-group">
		<label for="deadline">Deadline</label>
		<input type="datetime-local" class="form-control" id="deadline" name="deadline" ng-model="atividade.deadline" required/>
	</div>
	<div class="form-group">
		<label for="disciplina">Disciplina</label>
		<input type="text" class="form-control" id="disciplina" name="disciplina" required ng-model="atividade.disciplina"/>
	</div>
	<div class="form-group">
		<label for="linguagem">Linguagem</label>
		<select class="form-control" id="linguagem" name="linguagem" required ng-model="atividade.linguagem">
            <option value="java">Java</option>
            <option value="java">Python</option>
        </select>
	</div>
    <div class="form-group">
        <label>Arquivo de teste</label>
        <br/>
        <div ng-model="arquivo" name="arquivo" ngf-pattern="'.java, .python'" ngf-accept="'.java, .python'" ngf-select>
            <a href="" class="btn" id="botao_arquivo" role="button">Clique aqui para selecionar o arquivo</a>
        </div>
        <span><b>{{arquivo.name}}</b></span>
    </div>
	<div>
		<button type="submit" class="btn btn-primary">Salvar</button>
		<a	href="#!/" class="btn btn-default">Voltar</a>
	</div>
</form>